body{
    background: crimson;
    color: lightgoldenrodyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
    background: black;
    padding: 5px;
}

#links ul{
    padding-left: 0;
}

#links li{
    list-style-type: none;
    padding: 3px;
    border: solid black 2px;
    text-align: center;
    background: white;
}

#links a{
    text-decoration: none;
    color: black;
}

#links li a:hover{
    color: crimson;
}


#rec li{
    margin-right: 1000px;
}

ul a{
    text-decoration: none;
    color: black;
}

ul li a:hover{
    color: whitesmoke;
}

#randomPosters img, #randomPosters2 img{
    padding-left: 90px;
}

#randomPosters2 img{
    margin-top: 35px;
}

#toggle-bar div{
    width:25px;
    height:2px;
    background-color: hotpink;
    margin:6px 0;
}

.hide-small{
    display: none;
}

@media only screen and (min-width: 1200px)
{

    #toggle-bar{
        display: none;
    }

    #links ul
    {
        display:flex;
    }

    #links li
    {
        flex:1;
    }

    #randomPosters, #randomPosters2{
        display: flex;
    }

    #randomPosters img, #randomPosters2 img{
        flex:1;
    }

    .hide-small {
        display:flex;
    }
}