body{
    text-align: center;
}

#links ul{
    padding-left: 0;
}

#links li{
    list-style-type: none;
    padding: 3px;
    border: solid black 1px;
    text-align: center;
}

#links a{
    text-decoration: none;
    color: black;
}

#links li a:hover{
    color: crimson;
}



@media(min-width: 900px)
{
    #links ul
    {
        display:flex;
    }

    #links li
    {
        flex:1;
    }
}