body {
    background-color:lightred;
  font-family: Arial, Helvetica, sans-serif ;
}

h1{
color: yellow;
text-align:center;
}

.assign{
    margin: 10px;
    padding: 10px;
background-color: orange;
    display: flex;
}
.assign img {
    width: 200px;
    padding: 10px;
}
