<!DOCTYPE html>
<html>
<head>
<link rel = "stylesheet" href="styles.css">
<title>Tab name</title>
</head>
<body>
<div id="content">
    <header>
        <h1>Main Title</h1>
        <nav id="main-nav">
         <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Abt</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
         </ul>
        </nav>
    </header>
    <main>
<h2>Subtitle</h2>
<h3>First Paragraph</h3>
    </main>
    <footer>
        <p>&copy; myname</p>
    </footer>
</div>
</body>


</html>