body{
    background: lightsalmon;
}

header{
    text-align:center;
    padding: 15px;
}

header h1{
    color: darkcyan;
}

header h2{
    color: lightgreen;
}

#jsScripts{
    text-align: center;
    background: lightsalmon;
    color: darkcyan;
}

#jsScripts ul{
    list-style-type: none;
    margin-right: 50px;
}

#jsScripts li{
    background: lightgreen;
    margin-left: 50px;
    padding-bottom: 30px;
}

footer{
    background: lightcoral;
    text-align: center;
    padding: 9px;
}

#result{
    text-align: left;
    padding-left: 20px;
}


@media(min-width: 900px){
    #jsScripts ul{
        display: flex;
    }

    #jsScripts li{
        flex: 1;

    }
}