body{
    background: darkturquoise;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    text-align: center;
    background: palegreen;
    color: crimson;
}

#name{
    background: black;
    color: yellowgreen;
    padding: 2px;
}

#title{
    text-align: center;
    background: black;
    color: yellowgreen;
    padding :2px;
}

p{
    color: black;
}

#links li{
    list-style-type: none;
    padding: 5px;
    background: grey;
    border-bottom: 1px solid black;
    margin: 20px;
    text-align: center;
}

#links li a{
    text-decoration: none;
    color: black;
}
#links li a:hover{
    color: crimson;
}

#links2 li{
    list-style-type: none;
    padding: 5px;
    background: grey;
    border-bottom: 1px solid black;
    margin: 20px;
    text-align: center;
}

#links2 li a{
    text-decoration: none;
    color: black;
}
#links2 li a:hover{
    color: crimson;
}

@media(min-width: 900px){
    #links ul{
        display: flex;
    }

    #links li{
        flex:1;

    }

    #links2 ul{
        display: flex;
    }

    #links2 li{
        flex:1;
    }

}
