body{
    background: orangered;
    color: lightgoldenrodyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1
{
    padding: 10px;
    font-size: 39px;
}

h2, h1{
    text-align: center;
    background: black;
    padding: 10px;
}

#links ul{
    padding-left: 0;
}

#links li{
    list-style-type: none;
    padding: 10px;
    text-align: center;
}

#links a{
    text-decoration: none;
    color: blanchedalmond;
}

#logoTitle
{
    text-align: center;
}

#links li a:hover{
    color: crimson;
}

#logo-part{
    background: black;
}


body p{
    font-size: 28px;
}

main img{
    padding-left: 110px;
}

#toggle-bar div{
    width:25px;
    height:2px;
    background-color: black;
    margin:6px 0;
}

.hide-small{
    display: none;
}

h1 a{
    text-decoration: none;
    color: papayawhip;
}

#actionImg, #romanceImg, #comedyImg{
    text-align: center;
    padding-right:100px;
}

@media only screen and (min-width: 1200px)
{
    #toggle-bar{
        display: none;
    }

    #links ul
    {
        display:flex;
    }

    #links li
    {
        flex:1;
    }


    #actionImg, #comedyImg, #romanceImg
    {
        display: flex;
    }

    #actionImg a, #comedyImg a, #romanceImg a{
        flex: 1;
    }

    #logo-part
    {
       display: flex;
       box-shadow: 5px 5px burlywood;
    }

    #logoTitle{
        display: flex;
        
    }

    #links
    {
        margin-left: 200px;
    }

    #logoTitle img
    {
       padding: 3px;
    }
}